* {
  margin:0;
  padding:0;
  outline:0
}
@font-face {
    font-family: "Raleway";
    src: url(../font/raleway/Raleway-Light.ttf);
}

body {
  font-family: Raleway;
  margin:25px;
}
#tablewrapper {
	width:577px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
h2{
  font-family: Raleway;
  font-size: 30px;
}
#tableheader {height:55px}
#tableheader select {float:left; font-size:12px; width:125px; padding:2px 4px 4px}
#tableheader input {float:left; font-size:12px; width:225px; padding:2px 4px 4px; margin-left:4px}

.tt {
  width:auto;
  border-left:1px solid #c6d5e1;
  border-top:1px solid #c6d5e1;
  border-bottom:none;
}
.tt th {
  background:#3498db;
  text-align:left; color:#fff;
  border:1px solid #fff;
  border-right:none;
}
.tt th h3 {
  font-size:14px;
  padding:6px 8px 8px;
}
.tt td {
  padding:4px 6px 6px;
  border-bottom:1px solid #c6d5e1;
  border-right:1px solid #c6d5e1}
.tt .head h3 {
  cursor:pointer;
  padding-left:18px;
}
